<!doctype html>
<html lang="fr">
<head>
  <title><%= appName %></title>
  <meta charset="utf-8">
  <meta name="format-detection" content="telephone=no" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="img/favicon.png">

  <% if (env == 'development') {
   css.forEach(function(asset) {
     print('  <link rel="stylesheet" href="' + asset.substring(4) + '"/>\n');
     });
   } else if (env == 'production') {
     print('  <link rel="stylesheet" href="css/app.css" />');
   } %>

   <script src="phonegap.js"></script>
   <% if (env == 'development') {
    print('  <script src="js/config/development.js"></script>');
    js.forEach(function(asset){
     print('  <script src="' + asset.substring(4) + '"></script>\n');
     });
    } else if (env == 'production') {
     print('  <script src="js/application.js"></script>');
   } %>

</head>
<body>
  <side-menus>
    <!-- Center content -->
    <pane side-menu-content>

      <!-- The nav bar that will be updated as we navigate -->
      <nav-bar animation="nav-title-slide-ios7" 
         type="bar-positive" 
         back-button-type="button-icon" 
         back-button-icon="ion-arrow-left-c"></nav-bar>
      <!-- Where the initial view template will be rendered -->
      <nav-view animation="slide-left-right"></nav-view>

      <nav id="tab-bar" class="tabs tabs-icon-only tabs-default">
        <a class="tab-item" href="#">
          <i class="icon ion-home"></i>
        </a>
        <a class="tab-item" href="#/login">
          <i class="icon ion-locked"></i>
        </a>
        <a class="tab-item" href="#/notifications">
          <i class="icon ion-settings"></i>
        </a>
      </nav>
    </pane>

    <!-- Left menu -->
    <side-menu side="left">
      <header class="bar bar-header bar-dark">
        <h1 class="title">Menu</h1>
      </header>
      <content has-header="true">
        <div class="list">
          <a class="item" href="#/login">
            Login
          </a>
          <!-- <a class="item" href="#/contacts">
            Contacts
          </a>
          <a class="item" href="#/users">
            Users
          </a>
          <a class="item" href="#/products">
            Products
          </a> -->
          <a class="item" href="#/search">
            Recherche
          </a>
          <a class="item" href="#/notifications">
            Notifications
          </a>
          <a class="item" href="#/device">
            Device
          </a>
        </div>
      </content>
    </side-menu>
  </side-menus>

  <script type="text/javascript">
  pg.initialize();
  </script>

</body>
</html>
