<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title><%= appName %></title>

  <% if (env == 'development') {
    css.forEach(function(asset) {
      print('  <link rel="stylesheet" href="' + asset.substring(4) + '"/>\n');
    });
  } else if (env == 'production') {
    print('  <link rel="stylesheet" href="css/app.css" />');
  } %>

  <script src="phonegap.js"></script>
  <% if (env == 'development') {
    print('  <script src="js/config/development.js"></script>');
    js.forEach(function(asset){
      print('  <script src="' + asset.substring(4) + '"></script>\n');
    });
  } else if (env == 'production') {
    print('  <script src="js/application.js"></script>');
  } %>
</head>
<body animation="slide-left-right-ios7" ng-controller="AppController">
  <side-menus>
    <!-- Center content -->
    <pane side-menu-content>

      <!-- The nav bar that will be updated as we navigate -->
      <nav-bar animation="nav-title-slide-ios7" 
         type="bar-positive" 
         back-button-type="button-icon" 
         back-button-icon="ion-arrow-left-c"></nav-bar>
      <!-- Where the initial view template will be rendered -->
      <nav-view animation="slide-left-right"></nav-view>

      <nav id="tab-bar" class="tabs tabs-icon-only tabs-default">
        <a class="tab-item" href="#">
          <i class="icon ion-home"></i>
        </a>
        <a class="tab-item" href="#/notifications">
          <i class="icon ion-settings"></i>
        </a>
        <a class="tab-item" href="#/logout">
          <i class="icon ion-log-out"></i>
        </a>
      </nav>
    </pane>

    <!-- Left menu -->
    <side-menu side="left">
      <header class="bar bar-header bar-dark">
        <label class="item item-input item-input-wrapper">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="text" placeholder="Search">
        </label>
      </header>
      <content has-header="true">
        <div class="list">
          <div class="item item-divider">
            Aspects
          </div>
          <div class="item item-icon-left item-toggle">
            <i class="icon ion-ios7-people"></i>
            R.H.
            <label class="toggle">
              <input type="checkbox">
              <div class="track">
                <div class="handle"></div>
              </div>
            </label>
          </div>
          <div class="item item-icon-left item-toggle">
            <i class="icon ion-person"></i>
            Clients
            <label class="toggle">
              <input type="checkbox" checked>
              <div class="track">
                <div class="handle"></div>
              </div>
            </label>
          </div>
          <div class="item item-icon-left item-toggle">
            <i class="icon ion-clipboard"></i>
            Factures
            <label class="toggle">
              <input type="checkbox" checked>
              <div class="track">
                <div class="handle"></div>
              </div>
            </label>
          </div>
          <div class="item item-divider">
            Menu
          </div>
          <a class="item item-icon-left" href="#/login">
            <i class="icon ion-log-in"></i>
            Login
          </a>
          <a class="item item-icon-left" href="#/search">
            <i class="icon ion-search"></i>
            Recherche
          </a>
          <a class="item item-icon-left" href="#/notifications">
            <i class="icon ion-alert"></i>
            Notifications
          </a>
          <a class="item item-icon-left" href="#/device">
            <i class="icon ion-iphone"></i>
            Device
          </a>
          <!-- <a class="item" href="#/contacts">
            Contacts
          </a>
          <a class="item" href="#/users">
            Users
          </a>
          <a class="item" href="#/products">
            Products
          </a> -->
        </div>
      </content>
    </side-menu>
  </side-menus>

  <script type="text/javascript">
    pg.initialize();
  </script>

</body>
</html>
