# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

lib-cov
*.DS_Store
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.zip

# libs
www/lib/

# npm
npm-debug.log
node_modules/

# xcode userdata
xcuserdata

# cordova folders
platforms/
plugins/
