<?xml version='1.0' encoding='utf-8'?>
<widget id="fr.beesearch.beemobile" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Bee Mobile</name>
    <description>
         A frontend written with Phonegap, Angular, Ionic and love!.
    </description>
    <author email="technical@beesearch.fr" href="http://www.beesearch.fr">
        Bee Search Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
</widget>
