<div class="modal" ng-controller="app-login">

	<!-- Modal header bar -->
	<ion-header-bar align-title="center" class="bar-positive"><h1 class="title">Login</h1></ion-header-bar>

	<!-- Modal content area -->
	<ion-content>
		<form class="list">
			<div class="item item-divider">{{message}}</div>
			<label class="item item-input">
				<i class="icon ion-person placeholder-icon"></i>
				<input type="text" placeholder="Nom d'utilisateur" ng-model="user.username" required>
			</label>
			<label class="item item-input">
				<i class="icon ion-locked placeholder-icon"></i>
				<input type="password" placeholder="Mot de passe" ng-model="user.password" required>
			</label>
			<div class="padding">
				<button class="button button-block button-positive" ng-click="signin_click()">Se connecter</button>
			</div>
		</form>
	</ion-content>

</div>
