<section class="container">UserDetailController
    <div class="row">
        <input ng-model="query" class="search-query" placeholder="Rechercher">
    </div>
    
    <div class="row">
        Trier par :
        <select ng-model="orderProp">
            <option value="firstName">Prénom</option>
            <option value="lastName">Nom de famille</option>
        </select>
    </div>
    
    <div class="well" ng-repeat="user in users | orderBy:orderProp | filter:query">
        <div class="media">
            <div class="media-body pull-left">
                <a href="#/users/{{user.id}}">
                    <h4 class="media-heading">{{user.firstName}} {{user.lastName}}</h4>
                </a>
                <p>{{user.email}}</p>
            </div>
            <a class="pull-right" href="#/users/{{user.id}}">
                <img ng-src="{{user.picture}}" class="picture">
            </a>
        </div>
    </div>
</section>
