<section class="container">
     <div class="input-group">
        <div class="input-group-btn" ng-class="{open: isDropdownOpen}">
            <button type="button" class="btn btn-default dropdown-toggle" ng-click="isDropdownOpen = !isDropdownOpen">Trier par <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a href="" ng-click="orderBy('lastName')">Nom</a></li>
                <li><a href="" ng-click="orderBy('firstName')">Prénom</a></li>
            </ul>
        </div>
        <input ng-model="query" class="form-control" placeholder="Rechercher">
    </div>
    &nbsp;
    <div class="well" ng-repeat="user in users | orderBy:orderProp | filter:query">
        <div class="media">
            <div class="media-body pull-left">
                <a href="#/users/{{user.id}}">
                    <h4 class="media-heading">{{user.firstName}} {{user.lastName}}</h4>
                </a>
                <p>{{user.email}}</p>
            </div>
            <a class="pull-right" href="#/users/{{user.id}}">
                <img ng-src="{{user.picture}}" class="picture">
            </a>
        </div>
    </div>
</section>
