<ion-view title="Détails">
	<ion-content>

		<ion-item>	
			<h2 style="color:#ed3d2f"><b>{{item.name}} </b></h2>
            <h5>Siren: 1234-56789</h5>
        </ion-item>

        <a class="item">
            <h3 style="display:inline;"><b>Total: {{item.total | currency:"€"}} </b></h3>
            <h6 style="display:inline;">max: {{item.max | currency:"€"}} - avg: {{item.avg | currency:"€"}}</h6>

        </a>

        <div ng-repeat="item in item.contacts" ng-switch="item.type">

			<div ng-switch-when="admin">
				<div class="item item-avatar">
					<img ng-src="{{item.avatar}}">
					<h3>Administratif</h3>
					<p>{{item.firstName}} {{item.lastName}} <b>{{item.phone}}</b> </br>
					{{item.email}}</p>
				</div>				
			</div>

			<div ng-switch-when="sales">
				<div class="item item-avatar">
					<img ng-src="{{item.avatar}}">
					<h3>Ventes</h3>
					<p>{{item.firstName}} {{item.lastName}} <b>{{item.phone}}</b> </br>
					{{item.email}}</p>
				</div>
			</div>
			<div ng-switch-when="tech">
				<div class="item item-avatar">
					<img ng-src="{{item.avatar}}">
					<h3>Technique</h3>
					<p>{{item.firstName}} {{item.lastName}} <b>{{item.phone}}</b> </br>
					{{item.email}}</p>
				</div>		
			</div>
		</div>

		<div ng-repeat="item in item._source.addresses" ng-switch="item.type">
			<div ng-switch-when="sales">
				<div class="item item-icon-left">
					<i class="icon ion-card"></i>
					<h3>Adresse de facturation</h3>
					<p>{{item.street}} </br>
					{{item.zip}} <b>{{item.city}}</b></p>
				</div>
			</div>
			<div ng-switch-when="shipping">
				<div class="item item-icon-left">
					<i class="icon ion-plane"></i>
					<h3>Addresse de livraison</h3>
					<p>{{item.street}} </br>
					{{item.zip}} <b>{{item.city}}</b></p>
				</div>
			</div>
		</div>

        <highchart config="customerHistoryOrderChart"></highchart>

		<a class="item item-icon-left">
			<i class="icon ion-bag"></i>
			<h3>Dernières commandes</h3>
			<span class="badge badge-assertive">10</span>
		</a>

		<highchart config="top5ProductsChart"></highchart>
		
		<a class="item item-icon-left">
			<i class="icon ion-star"></i>
			<h3>Devis en cours</h3>
			<span class="badge badge-assertive">3</span>
		</a>

		<highchart config="customerCateroyOrderChart"></highchart>

		<a class="item item-icon-left">
			<i class="icon ion-bug"></i>
			<h3>Probleme support en cours</h3>
			<span class="badge badge-assertive">45</span>
		</a>
	</ion-content>
</ion-view>
