<ion-view title="'Device'">
  <content has-header="true" padding="true">
    <div class="card">
      <div class="item item-divider">
        Device infos
      </div>
      <div class="item item-text-wrap">
        Model : {{device.model}}
      </div>
      <div class="item item-text-wrap">
        Platform : {{device.platform}}
      </div>
      <div class="item item-text-wrap">
        Version : {{device.version}}
      </div>
      <div class="item item-text-wrap">
        UUID : {{device.uuid}}
      </div>
    </div>
  </content>
</ion-view>