<!doctype html>
<html lang="fr">
<head>
  <title><%= appName %></title>
  <meta charset="utf-8">
  <meta name="format-detection" content="telephone=no" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="img/favicon.png">

<% if (env == 'development') {
     css.forEach(function(asset) {
       print('  <link rel="stylesheet" href="' + asset.substring(4) + '"/>\n');
     });
   } else if (env == 'production') {
     print('  <link rel="stylesheet" href="css/app.css" />');
   } %>

  <script src="phonegap.js"></script>
<% if (env == 'development') {
  print('  <script src="js/config/development.js"></script>');
     js.forEach(function(asset){
       print('  <script src="' + asset.substring(4) + '"></script>\n');
     });
   } else if (env == 'production') {
     print('  <script src="js/application.js"></script>');
   } %>

</head>
<body>

    <!-- barre de navigation -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Zenbox</a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#/users">Users</a></li>
            </ul>
        </div>
    </nav>
    
    <!-- partie principale -->
    <div ng-view></div>
    
    <script type="text/javascript">
        pg.initialize();
    </script>

</body>
</html>
