<!doctype html>
<html lang="fr" ng-app="beemobile">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title><%= appName %></title>

  <link href="lib/ionic/release/css/ionic.min.css" rel="stylesheet">

  <script src="lib/ionic/release/js/ionic.js"></script>
  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular-animate/angular-animate.js"></script>
  <script src="lib/angular-sanitize/angular-sanitize.js"></script>
  <script src="lib/angular-resource/angular-resource.js"></script>
  <script src="lib/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="lib/angular-http-auth/src/http-auth-interceptor.js"></script>
  <script src="lib/ionic/release/js/ionic-angular.js"></script>

  <script src="js/app.js"></script>
  <script src="js/config.js"></script>
  <script src="js/directives.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/modules.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>

</head>
<body ng-controller="index">
  
  <ion-side-menus>
    <!-- Center content -->
    <ion-side-menu-content>
      <ion-nav-bar class="bar-positive" back-button-type="button-icon" back-button-icon="ion-arrow-left-c">
        <ion-nav-back-button side="left" class="button-icon">
          <i class="ion-arrow-left-c"></i>
        </ion-nav-back-button>
        <ion-nav-buttons side="left">
          <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
          <button class="button button-icon" ng-click="logout()">
            <i class="icon ion-log-out"></i>
          </button>
        </ion-nav-buttons>
      </ion-nav-bar>
      <ion-nav-view></ion-nav-view>
    </ion-side-menu-content>

    <!-- Left menu -->
    <ion-side-menu side="left">
      <!-- Content List -->
      <ion-content>
        <div class="list">
          
          <!-- Pages menu -->
          <div class="item item-divider">
            Menu
          </div>
          <a nav-clear class="item item-icon-left" ng-click="goTo('search')">
            <i class="icon ion-search"></i>
            Recherche
          </a>
          <!--<a nav-clear class="item item-icon-left" ng-click="goTo('notifications')">
            <i class="icon ion-alert"></i>
            Notifications
          </a>
          <a nav-clear class="item item-icon-left"  ng-click="goTo('device')">
            <i class="icon ion-iphone"></i>
            Device
          </a>-->
          <!-- Aspects -->
          <div class="item item-divider">
            Aspects
          </div>
          <div class="item item-icon-left item-toggle">
            <i class="icon ion-ios7-people"></i>
            R.H.
            <label class="toggle">
              <input type="checkbox">
              <div class="track">
                <div class="handle"></div>
              </div>
            </label>
          </div>
          <div class="item item-icon-left item-toggle">
            <i class="icon ion-person"></i>
            Clients
            <label class="toggle">
              <input type="checkbox" checked>
              <div class="track">
                <div class="handle"></div>
              </div>
            </label>
          </div>
          <div class="item item-icon-left item-toggle">
            <i class="icon ion-clipboard"></i>
            Factures
            <label class="toggle">
              <input type="checkbox" checked>
              <div class="track">
                <div class="handle"></div>
              </div>
            </label>
          </div>
        </div>

      </ion-content>
    </ion-side-menu>
  </ion-side-menus>

</body>
</html>
