c<!doctype html>
<html lang="fr" ng-app="beemobile">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title><%= appName %></title>

  <link href="css/style.css" rel="stylesheet">
  <link href="lib/ionic/release/css/ionic.min.css" rel="stylesheet">

  <!-- Ionic Framework -->
  <script src="lib/ionic/release/js/ionic.js"></script>
  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular-animate/angular-animate.js"></script>
  <script src="lib/angular-sanitize/angular-sanitize.js"></script>
  <script src="lib/angular-resource/angular-resource.js"></script>
  <script src="lib/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="lib/ionic/release/js/ionic-angular.js"></script>

  <!-- Cordova & ngCordova -->
  <script src="lib/ngCordova/dist/ng-cordova.min.js"></script>
  <script src="cordova.js"></script>

  <!-- Highcharts -->
  <script src="lib/jquery/dist/jquery.min.js"></script>
  <script src="lib/highcharts-release/highcharts.js"></script>
  <script src="lib/highcharts-ng/dist/highcharts-ng.min.js"></script>

  <!-- App -->
  <script src="js/app.js"></script>
  <script src="js/config.js"></script>
  <script src="js/services.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/directives.js"></script>
</head>

<body ng-controller="index">
  <ion-side-menus>
    <!-- Center content -->
    <ion-side-menu-content>
      <ion-nav-bar class="bar-positive" back-button-type="button-icon" back-button-icon="ion-arrow-left-c">
        <ion-nav-back-button side="left" class="button-icon">
          <i class="ion-arrow-left-c"></i>
        </ion-nav-back-button>
        <ion-nav-buttons side="left">
          <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
          <button class="button button-icon" ng-click="logout()">
            <i class="icon ion-log-out"></i>
          </button>
        </ion-nav-buttons>
      </ion-nav-bar>
      <ion-nav-view></ion-nav-view>
    </ion-side-menu-content>

    <!-- Left menu -->
    <ion-side-menu side="left">
      <!-- Pages menu -->
      <ion-header-bar class="bar bar-header bar-dark">
        <h1 class="title">Menu</h1>
      </ion-header-bar>
      <ion-content>
        <a nav-clear class="item item-icon-left" ng-click="goTo('search')">
          <i class="icon ion-search"></i>
          Recherche
        </a>
        <div class="item item-divider">
          Filiales
        </div>
        <ion-toggle ng-change="switchIndex('snrf')" ng-model="snrf" class="item item-icon-left">
          <i class="icon ion-home"></i>
          S.N.R.F.
        </ion-toggle>
        <ion-toggle ng-change="switchIndex('fta')" ng-model="fta" class="item item-icon-left">
          <i class="icon ion-home"></i>
          F.T.A.
        </ion-toggle>
        <ion-toggle ng-change="switchIndex('qn')" ng-model="qn" class="item item-icon-left">
          <i class="icon ion-home"></i>
          Q.N.
        </ion-toggle>
        <div class="item item-divider">
          Données
        </div>
        <ion-toggle ng-change="switchType('customers')" ng-model="customers"  class="item item-icon-left">
          <i class="icon ion-ios7-people"></i>
          Clients
        </ion-toggle>
        <ion-toggle ng-change="switchType('products')" ng-model="products"  class="item item-icon-left">
          <i class="icon ion-ios7-pricetag"></i>
          Produits
        </ion-toggle>
      </ion-content>
    </ion-side-menu>
  </ion-side-menus>

</body>
</html>
