<section class="container">

  <div class="row">
    <div class="col-md-12">
      <h4 class="media-heading">{{product.title}}</h4>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-5 ">
      <img ng-src="{{product.ArtworkUrl100}}" class="img-rounded" style="width:110px">
    </div>
    <div class="col-xs-7 ">
      <h4>{{product.artistId}}</h4>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-xs-12">
      
      <blockquote style="margin: 0 0 0px">
        <div ng-repeat="track in tracks">

          <div class="row">
            
            <div class="col-xs-8">
              <h5 style="margin-top:0px">{{track.name}} </h5>
            </div>

            <div class="col-xs-4">
              <span class="label label-default pull-right">{{track.milliseconds/1000}} sec </span> 
            </div>
          
          </div>
          <div class="row">
            <div class="col-xs-12">
              <h6 style="margin-top:0px"><small>by {{track.composer}}</small></h6> 
            </div>
          </div>

        </div>
      </blockquote>  
    
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-xs-4 pull-right">
      <a class="btn btn-small btn-info pull-right" href="#/products">Close</a>
    </div>
  </div>

  <br>

</div>