<section class="container">

    <div class="row">
        <div class="col-md-12">
            <h4 class="media-heading">{{product.title}} <span class="label label-default">New</span></h4>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-3">
            <img ng-src="{{product.ArtworkUrl100}}" class="img-rounded" style="width:70px">
        </div>
        <div class="col-xs-9">
            <blockquote>
                <div><h6><small>Lkdxekhx kdsh xkhskx hsqsw</small></h6></div>
                <div><h6><small>Lkhx  a kdsh xkhsde dde kx hsqsw</small></h6></div>
                <div><h6><small>Lkhx kdsh xdedee khskx hsqsw</small></h6></div>
                <div><h6><small>Lhx kdsszh xkhskx hsqsw</small></h6></div>
                <div><h6><small>Lkkhx a kdsh a et xkhskx hsw</small></h6></div>
                <div><h6><small>Lkdxekhx kdsh xkhskx hsqsw</small></h6></div>
                <div><h6><small>Lkhx  a kdsh xkhsde dde kx hsqsw</small></h6></div>
                <div><h6><small>Lkhx kdsh xdedee khskx hsqsw</small></h6></div>
                <div><h6><small>Lhx kdsszh xkhskx hsqsw</small></h6></div>
                <div><h6><small>Lkkhx a kdsh a et xkhskx hsw</small></h6></div>
            </blockquote>  
        </div>
    </div>

    <hr>

    <div class="row-fluid">
        <p>
            <a class="btn btn-small btn-info" href="#/products">Close</a>
        </p>
    </div>

</div>