<section class="container">

  <div class="row">
    <div class="col-md-12">
      <h4 class="media-heading">{{product.title}} <span class="label label-default">New</span></h4>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-3">
      <img ng-src="{{product.ArtworkUrl100}}" class="img-rounded" style="width:70px">
    </div>
    <div class="col-xs-9">
      <blockquote>
        <div ng-repeat="track in tracks">
          <h5>{{track.name}} </h5>
          <h6><small>by {{track.composer}} <span class="label label-default">{{track.milliseconds/1000}} sec </span> </small></h6> 

        </div>
      </blockquote>  
    </div>
  </div>

  <hr>

  <div class="row-fluid">
    <p>
      <a class="btn btn-small btn-info" href="#/products">Close</a>
    </p>
  </div>

</div>