<ion-view title="Recherche">
	<ion-header-bar class="bar-subheader item-input-inset">
		<label class="item-input-wrapper">
			<i class="icon ion-search placeholder-icon"></i>
			<input type="search" placeholder="Recherche" ng-model="search" ng-change="search_onchange()" autofocus>
		</label>
	</ion-header-bar>

	<ion-content>
		<div class="list">
			<p ng-show="noresult" class="list-inset item item-icon-left">
				<i class="icon ion-sad"></i>
				Aucun résultat
			</p>
			<div class="item item-avatar my-item"
				collection-repeat="item in items"
				collection-item-width="'100%'"
				collection-item-height="74"
				ng-click="item_onclick(item)">
				<img ng-src="images/icon-{{item._index}}.png">
				<h2>{{item.fields["company.name"][0]}}</h2>
				<p>Siren : {{item.fields["company.siren"][0]}}</p>
                {{item.fields["company.companyId"]}}
			</div>
		</div>
	</ion-content>
</ion-view>
