<ion-view title="Notifications">
	<ion-content padding="true">
		<button class="button button-block button-assertive" ng-click="alertNotify()">
			Alert
		</button>

		<button class="button button-block button-positive" ng-click="confirmNotify()">
			Confirm
		</button>

		<button class="button button-block button-royal" ng-click="promptNotify()">
			Prompt
		</button>

		<button class="button button-block button-balanced" ng-click="vibrateNotify()">
			Vibrate
		</button>

		<button class="button button-block button-energized" ng-click="beepNotify()">
			Beep
		</button>
	</ion-content>
</ion-view>